/* GetTable.css */
.table-container {
  width: 80%;
  margin: auto;
}

.table-bordered {
  border-collapse: collapse;
  border: 1px solid #ddd; /* Adjust border color as needed */
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #ddd; /* Adjust border color as needed */
  padding: 8px; /* Adjust padding as needed */
  text-align: left;
}
