/* Add this CSS code to your component's CSS file */

.form-control {
    max-width: 200px;
     /* Adjust this value according to your requirements */
}
.wrapper {
    background-image: url('../../../public/images/login.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top: 0px;
  
  }